// vim: set ts=4 sw=4 :

extends layout

block head
	link(href='/css/select2-3.4.8.css', rel='stylesheet')
	link(href='/css/select2-bootstrap.css', rel='stylesheet')

block content
	form(action='/book/add', method='post', role='form')
		.form-group
			label(for='title') Title:
			input#title.form-control(type='text', name='title')

		.form-group
			label(for='creator') Creator:
			input#creator.form-control.select2(type='hidden', name='creator_id')

		.form-group
			label(for='credit') Creator Credit:
			input#credit.form-control(type='text', name='creator_name')

		.form-group
			label(for='primary-type') Primary Type:
			select#primary-type.form-control(name='book_primary_type_id')
				option(value='1') Book

		.form-group
			label(for='comment') Disambiguation:
			textarea#comment.form-control(name='comment')

		button.btn.btn-default(type='submit') Add Book

block js
	script(type='text/javascript' src='/js/select2-3.4.8.js')

	script(type='text/javascript').
		$(document).ready(function() {
			$('#creator').select2({
				placeholder: 'Select Creator…',
				minimumInputLength: 1,
				ajax: {
					url: '/search/autocomplete',
					dataType: 'json',
					data: function(query, page) {
						return {
							query: query,
							type: 'creator'
						};
					},
					results: function(data, page) {
						return { results: data };
					}
				},
				formatResult: function(result) {
					var formatted = result.text;

					if (result.comment)
						formatted += ' (' + result.comment + ')';

					return formatted;
				}
			});
		});
