// vim: set ts=4 sw=4 :

extends layout

block content
	form(action='/creator/add', method='post', role='form')
		.form-group
			label(for='name') Name:
			input#name.form-control(type='text', name='name')

		.form-group
			label(for='sort-name') Sort Name:
			input#sort-name.form-control(type='text', name='sort_name')

		.form-group
			label(for='type') Type:
			select#type.form-control(name='creator_type_id')
				option(value='1') Person

		.form-group
			label(for='country') Country:
			select#country.form-control(name='country_id')
				option(value='1') United States

		.form-group
			label(for='gender') Gender:
			select#gender.form-control(name='gender_id')
				option(value='1') Male

		.form-group
			label(for='comment') Disambiguation:
			textarea#comment.form-control(name='comment')

		.form-group.checkbox
			input#ended(type='checkbox', name='ended')
			label(for='ended') Ended

		button.btn.btn-default(type='submit') Add Creator
