// vim: set ts=4 sw=4 :

doctype html
html
	head
		title= title
		link(href='/css/bootstrap-3.1.1.css', rel='stylesheet')
		block head
	body
		header.container
			#header-logo
				a.logo(href='/', title='BookBrainz')
					strong BookBrainz

			#search
				form(action='/search', method='get').form-inline
					input#search-query.form-control(name='query', placeholder='Query', type='text', value='')

					select#search-type.form-control(name='type')
						option(value='all') All
						option(value='creator') Creator
						option(value='book') Book
						option(value='edition') Edition
						option(value='work') Work
						option(value='publisher') Publisher

					button.btn.btn-default(type='submit')
						span.glyphicon.glyphicon-search
						.sr-only Search

			nav.navbar.navbar-default(role='navigation')
				.container-fluid
					ul.nav.navbar-nav
						li.dropdown
							a.dropdown-toggle(href='#', data-toggle='dropdown') Editing
							ul.dropdown-menu
								li
									a(href='/creator/create') Add Creator
								li
									a(href='/book/create') Add Book

					ul.nav.navbar-nav.navbar-right
						if user
							li.dropdown
									a.dropdown-toggle(href='#', data-toggle='dropdown')= user.name
									ul.dropdown-menu
										li
											a(href='/user/' + encodeURIComponent(user.name)) View Profile
						else
							li
								a(href='/login') Log In

		#page
			#content.container
				block content

		script(type='text/javascript' src='/js/jquery-1.11.1.js')
		script(type='text/javascript', src='/js/bootstrap-3.1.1.js')

		block js
